@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    width: 100%;
    background: #fff;
}

.main{
    display: flex;
    flex-direction: row;
}

.nav{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 17%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    gap: 25rem;
}

.nameless{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    padding-top: 15px;
    font-size: xx-large;
    color: royalblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pro{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    gap: 2rem;
}

.profile{
    width: 10rem;
    height: 30px;
    color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile:hover{
    background-color: royalblue;
    color: #fff;
    border-radius: 7px;
}

.circles{
    width: 10rem;
    height: 30px;
    color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circles:hover{
    background-color: royalblue;
    color: #fff;
    border-radius: 7px;
}

.logout{
    width: 100px;
    height: 30px;
    color: royalblue;
    background-color: rgb(0 0 0 / 0.2);
    border-radius: 7px;
}

.logout h5{
    margin-left: 25px;
    padding-top: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2rem;
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.details{
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: royalblue;
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.name{
    margin-left: 5rem;
}

.dp{
    margin-right: 4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
}

.join{
    width: 90%;
    height: 70%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.join img{
    width: auto;
    height: 180px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h1{
    color: royalblue;
}

.b1{
    background: #fff;
    border: 1px solid royalblue;
    border-radius: 7px;
    width: 100px;
    height: 25px;
    color: royalblue;
}

.b1:hover{
    background: royalblue;
    color: #fff;
}

.b2{
    background: #fff;
    border: 1px solid royalblue;
    border-radius: 7px;
    width: 100px;
    height: 25px;
    color: royalblue;
    margin-left: 10px;
}

.b2:hover{
    background: royalblue;
    color: #fff;
}

.nothing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nothing img{
    width: auto;
    height: 15rem;
    filter: grayscale(100%);
}

@media(width<800px){
    .nav{
        width: 0;
        opacity: 0;
    }

    .content{
        width: 100%;
    }

    .join{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .name{
        margin-left: 2rem;
    }

    .dp{
        margin-right: 2rem;
        width: 35px;
        height: 35px;
    }

    h1,h2{
        font-size: 1rem;
    }

    p{
        font-size: 0.7rem;
    }

    .button{
        margin-bottom: 1rem;
    }

    .nothing img{
        width: auto;
        height: 10rem;
    }
}
